<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="player.ui.test">

    <application>
        <activity
            android:name="player.ui.test.TestActivity"
            android:theme="@style/Theme.AppCompat.DayNight" />
    </application>

</manifest>